body[data-theme="light"] .section {
    background-color: #f9f9f9;
    color: #000;
  }
  
  body[data-theme="light"] .button {
    background-color: #e50914;
  }
  
  body[data-theme="light"] .button:hover {
    opacity: 0.7;
  }
  body[data-theme="light"] .block_content {
    background-color: #ffffff;
    color: #000;
  }
  body[data-theme="light"]
    .css-1o0kqxp-MuiInputBase-root-MuiOutlinedInput-root:hover
    .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: #000000 !important;
  }
  /* Dark Mode */
  body[data-theme="dark"] .section {
    background-color: #333;
    color: #fff;
  }
  
  body[data-theme="dark"] .block_content {
    background-color: #333;
    color: #fff;
  }
  
  body[data-theme="dark"] .button {
    background-color: #e50914;
  }
  
  body[data-theme="dark"] .button:hover {
    opacity: 0.7;
  }
  
  
  /* Common Styles */
 
  
 
 
  
  .left_side_bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .text-white{
    color: #fff !important;
  }
  
  .block_content {
    text-align: center;
  }
  
  .right_side_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .right_side_bar button {
    margin: 10px 0;
  }

  

 
  .section {
    background-image: url("../public/global.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height:90vh;
  }
  
  .sizer {
    padding-top:70px;
    background-color: #1e2537de;
  }
  .container {
    margin: 0 auto;
    padding-right: 20px;
  }
  .row {
    max-width: 100%;
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  .heading {
    text-align: center;
    font-size: 24px;
    background-color: #e50914;
    padding: 10px 20px;
    border-radius: 10px;
    width: 90%;
    color: #fff;
    margin: auto;
  }
  
 
  
  .block_content {
    padding: 50px 20px 20px 20px;
    border-radius: 10px;
    position: relative;
  }
  

  .left_side_bar{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
 
  