@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles/globals.css */

.header-toggle-btn{
    width: 80px;
    padding: 0px 20px;
}
h1,h2,h3,h4,h5,h6{
    font-weight:700;
}
header .bg-color{
    background-color:rgb(0 0 0 / 67%);
    padding-right:20px;
    border-radius:100px;
    width:90%;
    margin:auto;
}
header{
    z-index: 1;
}
.google button{
width: 100%; 
justify-content: center;
}
.fixed{
    z-index: 11;
}
h1{
    font-size:54px;
}
h2{
    font-size:45;
}
h3{
    font-size:36;
}
h4{
    font-size:28;
}
h5{
    font-size:24px;
}
h6{
    font-size:20px;
}

